In [1]:
import main

**optimal memory one.**

In [8]:
main.optimal_memory_one?

In [2]:
p = [[1, 1, 1, 1]]
turns, repetitions = 10, 2

In [3]:
main.optimal_memory_one(opponents=p, turns=turns, repetitions=repetitions)

([0.3447839489095473,
  0.576635637234355,
  1.6293607200124072e-06,
  0.9316667290666754],
 4.999995026505638,
 4.699999999999999)

**optimal gambler**

In [5]:
main.optimal_gambler?

In [6]:
main.optimal_gambler(opponents=p, turns=turns, repetitions=repetitions, params=[1, 1, 1])

([0.0,
  0.0,
  0.0,
  0.9460747026179566,
  0.9634246327928588,
  0.0,
  0.613267232056333,
  0.0,
  0.0],
 3.2)

**writting file**

In [4]:
index, folder = 0, 'matches'

In [5]:
main.write_results(list_opponents=p, index=index, folder=folder, params=[1, 1, 1], turns=turns,
                   repetitions=repetitions, location='data/random_numerical_experiments/')

In [6]:
import pandas as pd

In [8]:
pd.read_csv('data/random_numerical_experiments/gambler1_1_1/matches/0.csv')

,$q_1$,$q_2$,$q_3$,$q_4$,$\bar{q}_1$,$\bar{q}_2$,$\bar{q}_3$,$\bar{q}_4$,$p_1$,$p_2$,$p_3$,$p_4$,$u_q$,$U_q$,Differential evol. time,gambler,$U_{G}$,Gambler train time
0,0.548814,0.715189,0.602763,0.544883,NaN,NaN,NaN,NaN,0.115405,0.817175,0.0,0.0,3.626912,3.554,16.911596,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0]",3.715,165.503774

In [9]:
pd.read_csv('data/random_numerical_experiments/gambler1_1_1/matches/1.csv')

,$q_1$,$q_2$,$q_3$,$q_4$,$\bar{q}_1$,$\bar{q}_2$,$\bar{q}_3$,$\bar{q}_4$,$p_1$,$p_2$,$p_3$,$p_4$,$u_q$,$U_q$,Differential evol. time,gambler,$U_{G}$,Gambler train time
0,0.417022,0.720324,0.000114,0.302333,NaN,NaN,NaN,NaN,0.244937,0.327656,0.0,0.0,3.077858,3.09,11.206325,"[0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]",3.216,115.124033

**filename**

In [4]:
location = '../data/numerical_experiments/'
folder = 'matches'
params = [1, 1, 1]

In [5]:
main.get_filename(location, folder, params)

'../data/numerical_experiments/gambler1_1_1/matches/'